{% extends 'base.html' %}
{% block sidebar %}
{% endblock %}
{% block title %}Добавить новость{% endblock %}

{% block content %}
    <div class="container m-top-100">
        {{ form.non_field_errors }}
        <form action="{% url 'add_news' %}" class="mt-2" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-success">Добавить новость</button> | <button type="button" class="btn btn-light"><a href="{% url 'home' %}">На главную</a></button>
        </form>
    </div>
{% endblock %}




