{% load menu %}
<footer class="site-footer m-top-100">
    <div class="container">
        <small class="copyright pull-left">Copyrights © 2021 All Rights Reserved By Ilya <a href="http://www.tabthemes.com/"></a>.
            <a href="https://vk.com/thatverybad" class="fa fa-vk"></a>
        </small>
        <div class="social-icon pull-right">
            {% show_menu 'footer-menu'%}
{#            <a href="#"><i class="fa fa-facebook"></i></a>#}
{#            <a href="#"><i class="fa fa-pinterest"></i></a>#}
{#            <a href="#"><i class="fa fa-google"></i></a>#}
{#            <a href="#"><i class="fa fa-rss"></i></a>#}
{#            <a href="#"><i class="fa fa-globe"></i></a>#}
        </div>
        <!-- /social-icon -->
    </div>
    <!-- /container -->
</footer>