{% load menu %}
{% load static %}

<header class="nav-solid" id="home">
    <nav class="navbar navbar-fixed-top">
        <div class="navigation">
            <div class="container-fluid">
                <div class="row">
                    <div class="navbar-header">
                    </div>
                    <div class="col-md-8 col-xs-12 nav-wrap">
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            {% show_menu %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

