{% load menu %}
{% load static %}
<header class="nav-solid" id="home">
    <nav class="navbar navbar-fixed-top">
        <div class="navigation">
            <div class="container-fluid">
                <div class="row">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <!-- Logo -->
                        <div class="logo-container">
                            <div class="logo-wrap local-scroll">
                                <a href="{% url 'home' %}">
                                    <img class="logo" src="{% static 'img/logotype.png'%}" alt="logo" width="50" height="50"  data-rjs="2">
                                </a>
                            </div>
                        </div>
                    </div> <!-- end navbar-header -->

                    <div class="col-md-8 col-xs-12 nav-wrap">
                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            {% show_menu %}
                            {##}
                            {#                            <ul class="nav navbar-nav navbar-right">#}
                            {#                                <li><a href="{% url 'home' %}">Home</a></li>#}
                            {#                                <li><a href="index.html#service">Service</a></li>#}
                            {#                                <li><a href="index.html#portfolio">blog</a></li>#}
                            {#                                <li><a href="index.html#team">Team</a></li>#}
                            {#                                <li><a href="index.html#testimonials">Testimonials</a></li>#}
                            {#                                <li><a href="index.html#blog">blog</a></li>#}
                            {#                                <li><a href="index.html#contact">Contact</a></li>#}
                            {#                            </ul>#}

                        </div>
                    </div> <!-- /.col -->

                </div> <!-- /.row -->
            </div> <!--/.container -->
        </div> <!-- /.navigation-overlay -->
    </nav> <!-- /.navbar -->

</header>
